@media screen and (max-width: 1080px){
    .main-container{
        grid-template-rows: repeat(3, auto);
    }

    .main-container .sectionAbout{
        grid-column: span 3/ span 3;
    }

    .main-container .sectionTechStack{
        grid-column: span 3 / span 3;
    }

    .main-container .sectionExp{
        grid-column: span 3 / span 3;
        grid-column-start: 1;
        grid-row-start: 3;
    }
}